---
id: {{  id }}
longname: {{  longname or 'Длинное название задачи' }}
languages: [{{ languages or 'cpp, python' }}]
tags: [{{  tags or 'tag1, tag2' }}]
checker: cmp_yesno
time_limit: 1
real_time_limit: 1
max_vm_size: 64M
---

{% if content is not defined %}
Сложить два числа.

### Формат входных данных

Два числа, которые нужно сложить.

### Формат выходных данных

Одно число — результат.

### Примеры

```
-> 1 2
--
<- 3
```

```
-> 1 -1
--
<- 0
```
{% else %}
{{ content.description }}

### Примеры

{% for _in,_out  in  content.examples -%}
```
{% for l in _in -%}
-> {{ l }}
{% endfor -%}
--
{% for l in _out -%}
<- {{ l }}
{% endfor -%}
```

{% endfor -%}
{% endif %}
