---
id: {{  id }}
longname: {{  longname or 'Длинное название задачи' }}
tags: [{{  tags or 'tag1, tag2' }}]
checker: cmp_yesno
time_limit: 1
real_time_limit: 1
max_vm_size: 64M
---

Сложить два числа.

-> 1 2
--
<- 3

-> 1 -1
--
<- 0

