---
id: {{  id }}
shortname: {{  shortname or 'shortname' }}
longname: {{  longname or 'Длинное название задачи' }}
tags: [{{  tags or 'tag1, tag2' }}]
---

Сложить два числа.

Ввод  | Вывод
------|------
1 2   | 3
1 -1  | 0

